body {
    margin: 0;
}

.wrap {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 3s;
}

.title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-top: 100px;
    color: rgb(0, 0, 0);
    animation-duration: 3s;
}

.leftbutton {
    margin-top:8px;
    margin-left:9px;
    width: 20px;
    height: 20px;
}

.leftbutton:hover {
    cursor: pointer;
}

button {
    margin-top: 60px;
    width: 80%;
    color: #fff;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.522);
    border-radius: 5px;
    padding: 8px 0px 8px 0px;
    -webkit-app-region: no-drag;
}

button:hover {
    cursor: pointer;
}







.menu-bar {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between
}

#btnClose {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #EE514C;
    margin: 10px 10px 0px 0px;
}

#btnMin {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #F9BE32;
    margin: 10px;
}

.program {
    display: flex;
}

.left {
    display: flex;
}

#setting:focus {
    cursor: pointer;
}

#btnMin:hover {
    cursor: pointer;
}

#btnClose:hover {
    cursor: pointer;
}

#setting,
#btnMin,
#btnClose,
.leftbutton,
.rightbutton {
    -webkit-app-region: no-drag;
}